
 <div class="navigation col-lg-12">
   <div class="navbar navbar-default">
     <div class="container-fluid">
       <div class="navbar-header">
        <a href="#" class="navbar-brand">{{title}}</a>
       </div>

       <ul class="nav navbar-nav" *ngIf="identity">

            <li>
              <a [routerLink]="['home']" [routerLinkActive]="['active']">
                <span class="glyphicon glyphicon-home"></span>
                Home
              </a>
            </li>

            <li>
              <a [routerLink]="['timeline']" [routerLinkActive]="['active']">
                <span class="glyphicon glyphicon-th-list"></span>
                TimeLine
              </a>
            </li>

            <li>
              <a [routerLink]="['gente']" [routerLinkActive]="['active']">
                <span class="glyphicon glyphicon-user"></span>
                Gente
              </a>
            </li>
       </ul>

       <ul class="nav navbar navbar-nav navbar-right" *ngIf="!identity">

            <li>
              <a [routerLink]="['login']" [routerLinkActive]="['active']">
                <span class="glyphicon glyphicon-log-in"></span>
                Login
              </a>
            </li>

            <li>
              <a [routerLink]="['registro']" (click)='logout()'>
                <span class="glyphicon glyphicon-user"></span>
                Sing-in
              </a>
            </li>

        </ul>

        
        <ul class="nav navbar-nav navbar-right" *ngIf="identity">
          
             <li class="avatar">
                <img src="" alt="">
            </li>


             <li class="dropdown">

                  <a class="dropdown-toggl" data-toggle="dropdown" >
                    {{identity.Nombre}} <span class="caret"></span>
                  </a>
                  
                  <ul class="dropdown-menu">
                     <li>
                       <a [routerLink]="['/pefil']">
                         <span class="glyphicon glyphicon-user">
                          Perfil
                         </span>
                       </a>
                     </li>

                     <li>
                       <a [routerLink]="['edit']">
                         <span class="glyphicon glyphicon-cog">
                           Datos
                         </span>
                       </a>
                     </li>

                     <li>
                       <a [routerLink]="['home']" (click)="logout()">
                         <span class="glyphicon glyphicon-log-out">
                           Exit
                         </span>
                       </a>
                     </li>
                  </ul>
            </li>
       </ul>
     </div>
   </div>
 </div>


<router-outlet></router-outlet>