
 <div class="navigation col-lg-12">
   <div class="navbar navbar-default">
     <div class="container-fluid">
       <div class="navbar-header">
        <a href="#" class="navbar-brand">{{title}}</a>
       </div>

       <ul class="nav navbar-nav">

            <li>
              <a [routerLink]="['home']">
                <span class="glyphicon glyphicon-home"></span>
                Home
              </a>
            </li>

            <li>
              <a [routerLink]="['timeline']" [routerLinkActive]="['active']">
                <span class="glyphicon glyphicon-th-list"></span>
                TimeLine
              </a>
            </li>

            <li>
              <a [routerLink]="['gente']" [routerLinkActive]="['active']">
                <span class="glyphicon glyphicon-user"></span>
                Gente
              </a>
            </li>
       </ul>

       <ul class="nav navbar navbar-nav navbar-right">

            <li>
              <a [routerLink]="['login']" [routerLinkActive]="['active']">
                <span class="glyphicon glyphicon-log-in"></span>
                Login
              </a>
            </li>

            <li>
              <a [routerLink]="['registro']" (click)='logout()'>
                <span class="glyphicon glyphicon-user"></span>
                Sing-in
              </a>
            </li>

        </ul>

       <!-- 
       <ul class="nav navbar  navbar-nav navbar-rigth">

        li con la imagen del user


       </ul> -->
     </div>
   </div>
 </div>


<router-outlet></router-outlet>