<div class="col-lg-8 col-lg-offset-2">
    <div class="jumbotron">
        <h2>{{title}}</h2>
         <p>En el pasado eras lo que tenías, <strong>ahora eres lo que compartes...</strong></p>
         <p>
             <a href="#" class="btn btn-success btn-lg">
                 Mi perfil
             </a>

             <a href="#" class="btn btn-primary btn-lg">
                TimeLine
             </a>

             <a href="#" class="btn btn-default btn-lg">
                 Gentes
             </a>
         </p>
    </div>
</div>
