
<h1>Sidebar</h1>
<div id="user-card" class="col-lg-4 panel panell-default pull-left">
    <a [routerLink]="['/perfil',identity._id]">
        <div class="avatar pull-left">
           <img src="{{url+'getImagen/'+identity.Imagen}}" alt="" *ngIf="identity.Imagen">
           <img src="assets/imagen/login.jpg" alt="" *ngIf="!identity.Imagen">
        </div>
        <div class="name-surname pull-left">
            <a href="#">
                <!--Identity.name-->
            </a>
            
            <p class="nickname">
                <!--identity.nick-->
            </p>
            <div class="clearfix"></div>
        </div>
    </a>

    <div class="clearfix"></div>

    <div class="stats" *ngIf="stats">
        <div class="following-data">
          <a [routerLink]="['/following',identity._id,1]">
              <span class="label-stats">
               Siguiendo
              </span>
              <span class="number-stats">
               {{stats.Following}}
              </span>
          </a>
        </div>

        <div class="following-data">
            <a [routerLink]="['/followed/',identity._id,1]">
                <span class="label-stats">
                    Seguidor
                </span>
                <span class="number-stats">
                   {{stats.Followed}}
                </span>
            </a>
        </div>

        <div class="following-data">
            <a [routerLink]="['/perfil',identity._id]">
                <span class="label-stats">
                 Publicacion
                </span>
                <span class="number-stats">
                  {{stats.publication}}
                </span>
            </a>

        </div>

    </div>
</div>

<!-- Formulario de publicacion-->

<div id="new-publicacion" class="col-lg-4 pull-left panel panel-default">

    <h4>Crear publicacion</h4>
      <form #Formulariopublic="ngForm" (ngSubmit)="onSubmit(Formulariopublic) " class="col-lg-10">
          <p>
              <label>Publicaciones</label>
              <textarea name="Text" #Text="ngModel" [(ngModel)]="publicacion.Text" class="form-control" placeholder="¿Que estas pensando?" required></textarea>
              <span *ngIf="!Text.valid && Text.touched" [style.color]="['red']">
                  El campo de publicacion esta vacio
              </span>
            </p>

            <p>
                <label>Subir Imagen</label>
                <input id="uploadCaptureFile" #inputFile (change)="uploadImagenInput($event)" type="file" class="form-control">
            </p>

            <input type="submit" value="SEND" class="btn btn-success" >
      </form>
</div>
