<div id="gente" class="col-lg-8">
    <h1>Following</h1>
 
    <div class="people">
          
        <div *ngIf="followed == ''">
            <p class="NoUser">No hay Following</p>
        </div>
        <!--Listado-->
        <div *ngFor="let followor of followed" class="item-user">

            
            <div class="panel panel-default">
                <div class="panel-body">
                    <a [routerLink]="['/perfil',followor.Siguiendono._id]">
                        <div class="image_user pull-left">
                            <a href="#">
                                <img src="{{url+'getImagen/'+followor.Siguiendono.Imagen}}" *ngIf="followor.Siguiendono.Imagen" alt="">
                                <img src="assets/imagen/login.jpg" *ngIf="!followor.Siguiendono.Imagen" alt="">
                            </a>
                        </div>
 
                         <div class="user_name pull-left">
                             <p class="subname">
                                 <a href="#">
                                     <p>{{followor.Siguiendono.Nombre+' '+followor.Siguiendono.Nick}}</p>
                                 </a>
                             </p>
                             <p class="nickname">
                                {{followor.Siguiendono.Nick}}
                             </p>
 
                         </div>
                     </a>
 
                     <!--SEGUIR/DEJAR DE SEGUIR-->
 
                     <div class="pull-right" *ngIf="followor.Siguiendono._id != identity._id">
                         <button class="btn btn-default" *ngIf="following.indexOf(followor.Siguiendono._id) < 0"
                         (click)="addFollow(followor.Siguiendono._id)">
                         <span class="glyphicon glyphicon-heart-empy"></span>
                           Seguir
                         </button>
 
                     </div>
 
 
 
 
                     <!--Esto aqui es para los bottones del los fallowers-->
                     <div class="pull-right">
                         <button class="btn btn-primary" *ngIf='following.indexOf(followor.Siguiendono._id) >= 0'
                             (mouseenter)="mouseEnter(followor.Siguiendono._id)"
                             (mouseleave)="mouseLeave(followor.Siguiendono._id)"
                             [class.btn-danger]="followor.Siguiendono._id == follow"
                             (click)="deleteFollow(followor.Siguiendono._id)">
 
                             <span *ngIf="followor.Siguiendono._id == follow; else followingg">
                                 <span class="glyphicon glyphicon-remove"></span>
                                 Dejar de Seguir
                             </span>
 
                             <ng-template #followingg>
                                 <span class="glyphicon glyphicon-heart"></span>
                                 Siguiendo
                             </ng-template>
                         </button>
 
                     </div>
                  </div>
 
              </div>
        </div>
 
        <!--Paginate-->
        <ul class="pagination pull-right" *ngIf="!pages != page">
 
         <li *ngIf='page > 1'><a [routerLink]="['/following/',id,prev_page]">Anterios</a></li>
         <li *ngIf='pages != page'><a [routerLink]="['/following/',id,next_page]">Siguiendo</a></li>
        </ul>
    </div>
 </div>
 
 <div class="gente">
    <app-sidebar></app-sidebar>
 
 </div>
 
